/dist
/node_modules
.vscode/

/mongo
/mongo_data

.env
.env.prod
.env.dev

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.DS_Store

/coverage
/.nyc-output

yarn.lock
pnpm-lock.yaml